{% extends "finance/base.html" %}

{% block body %}
    {% if perms.finance.can_delete_category %}
    <form action="" method="post">{% csrf_token %}
        {% if subcategories or budgets or transactions %}
        刪除科會一併刪除{{ subcategories }}筆目，{{ budgets }}筆預算及{{ transactions }}筆收支紀錄！<br />
        {% endif %}
        確定刪除科?<br />
        <table border="2" cellspacing="0" frame="box" rules="all">
        <tr>
            <th>科</th>
        </tr>
        <tr>
            <td align="center">{{ object.name }}</td>
        </table>
        <input type="submit" value="刪除" />
    </form>
    {% endif %}
{% endblock %}
