{% load browserid %}
{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="financeApp">
    <head>
        <meta charset="utf-8">
        <title>財務功能平台</title>
        <link rel="stylesheet" href="{% static 'browserid/persona-buttons.css' %}">
        <link rel="stylesheet" href="{% static 'finance/css/finance.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://login.persona.org/include.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
        <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <script src="{% static 'finance/js/app.js' %}"></script>
        <script src="{% static 'finance/js/controller.js' %}"></script>
        <script src="{% static 'browserid/api.js' %}"></script>
        <script src="{% static 'browserid/browserid.js' %}"></script>
    </head>

    <body>
    <div id="container">
        <div class="header">
            <div class="title">
                財務
            </div>

            <div class="auth">
            {% browserid_info %}
            {% if user.is_authenticated %}
                {{ user.get_full_name }}
                <a href="#" data-next="." class="browserid-logout persona-button dark" >
                    <span>Logout</span>
                </a>
            {% else %}
                <a href="#" data-next="." class="browserid-login persona-button dark" >
                    <span>Login</span>
                </a>
            {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="menuView" ui-view="menuView"></div>
            <div class="dataView" ui-view="dataView"></div>
        </div>
    </div>
    </body>
</html>
