<div>
    <div class="modal-header">
        <h3 class="modal-title">科</h3>
    </div>
    <div class="modal-body">
        <table border="2" cellspacing="0" frame="box" rules="all" id="addSubCategoryTable">
        <tr>
            <th class="align-center">科</th>
            <td class="align-right">
                <select ng-model="categoryId" ng-options="category.id as category.name for category in categorys"></select>
            </td>
        </tr>
        <tr>
            <th class="align-center">名稱</th>
            <td class="align-right">
                <input ng-model="name" class="align-right" type="text">
            </td>
        </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="add()">新增</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</div>
