<div>
    <table border="2" cellspacing="0" frame="box" rules="all" id="budgetTable">
    <tr>
        <th colspan="7" class="align-center">{{ year }}年收支報表</th>
    </tr>
    <tr>
        <th class="align-center">收支</th>
        <th class="align-center">科</th>
        <th class="align-center">目</th>
        <th class="align-center">預算金額</th>
        <th class="align-center">累計執行</th>
        <th class="align-center">預算餘額</th>
        <th class="align-center">執行率</th>
    </tr>
    <tr ng-repeat="report in reports">
        <td class="align-center">{{ report.type }}</td>
        <td class="align-center">{{ report.category }}</td>
        <td class="align-center">{{ report.subCategory }}</td>
        <td class="align-right">{{ report.budget }}</td>
        <td class="align-right">{{ report.transaction }}</td>
        <td class="align-right">{{ report.remain }}</td>
        <td class="align-right">{{ report.exeRate }}</td>
    </tr>
    </table>
</div>