<div>
    <a href="#" ng-click="addTransaction()">新增收支</a><br />
    顯示
    <select ng-model="monthStart" ng-options="i as i for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"></select>
    月至
    <select ng-model="monthEnd" ng-options="i as i for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"></select>
    月
    <table border="2" cellspacing="0" frame="box" rules="all" id="transactionTable">
    <tr>
        <th class="align-center">日期</th>
        <th class="align-center">票據編號</th>
        <th class="align-center">收入</th>
        <th class="align-center">支出</th>
        <th class="align-center">結算</th>
        <th class="align-center">科</th>
        <th class="align-center">目</th>
        <th class="align-center">對象</th>
        <th class="align-center">申請人</th>
        <th class="align-center">核可人</th>
        <th class="align-center">附註</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="align-right">{{ previousAmount }}</td>
        <td class="align-center">前期結餘</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr ng-repeat="transaction in transactions">
        <td class="align-center">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.date }}
            </a>
        </td>
        <td class="align-center">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.serial }}
            </a>
        </td>
        <td class="align-right">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.income | number }}
            </a>
        </td>
        <td class="align-right">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.expense | number }}
            </a>
        </td>
        <td class="align-right">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.total | number }}
            </a>
        </td>
        <td class="align-center">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.category }}
            </a>
        </td>
        <td class="align-center">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.subCategory }}
            </a>
        </td>
        <td class="align-center">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.payee }}
            </a>
        </td>
        <td class="align-center">{{ transaction.submitBy }}</td>
        <td class="align-center">{{ transaction.approveBy }}</td>
        <td class="align-left">
            <a href="#" ng-click="showTransactionDetail(transaction.id)">
                {{ transaction.comment }}
            </a>
        </td>
    </tr>
    </table>
</div>