{% extends "finance/base.html" %}

{% block body %}
    {% if perms.finance.can_delete_transaction %}
    <form action="" method="post">{% csrf_token %}
        確定刪除下列收支紀錄?<br />
        <table border="2" cellspacing="0" frame="box" rules="all">
        <tr>
            <th>日期</th>
            <th>預算年度</th>
            <th>收支類別</th>
            <th>科</th>
            <th>目</th>
            <th>金額</th>
        </tr>
        <tr>
            <td align="center">{{ object.date.year }}/{{ object.date.month }}/{{ object.date.day }}</td>
            <td align="center">{{ object.budget.year }}</td>
            <td align="center">
                {% if object.type == 1 %}
                歲入
                {% else %}
                歲出
                {% endif %}
            </td>
            <td align="center">{{ object.budget.category }}</td>
            <td align="center">{% if object.budget.subCategory %}{{ object.budget.subCategory }}{% endif %}</td>
            <td align="center">{{ object.amount }}</td>
        </table>
        <input type="submit" value="刪除" />
    </form>
    {% endif %}
{% endblock %}
