{% extends "finance/base.html" %}

{% block head %}
    <script type="text/javascript">
        function createRow(payee) {
            var row = document.createElement("tr");

            var col = document.createElement("td");
            col.style.textAlign = 'center';
            col.appendChild(document.createTextNode(payee.name));
            row.appendChild(col);

            {% if perms.finance.can_change_payee or perms.finance.can_delete_payee %}
                var col = document.createElement("td");

                {% if perms.finance.can_change_payee %}
                    var a = document.createElement('a');
                    a.appendChild(document.createTextNode('修改'));
                    a.href = '{% url "finance_payee_change" pk=0 %}/'.replace(/0/, payee.id);
                    col.appendChild(a);

                    col.appendChild(document.createTextNode(' '));
                {% endif %}

                {% if perms.finance.can_delete_payee %}
                    var a = document.createElement('a');
                    a.appendChild(document.createTextNode('刪除'));
                    a.href = '{% url "finance_payee_delete" pk=0 %}/'.replace(/0/, payee.id);
                    col.appendChild(a);
                {% endif %}

                row.appendChild(col);
            {% endif %}

            return row;
        }

        function generateTable() {
            var payees = [
                {% for payee in payees %}
                {
                    id: {{ payee.id }},
                    name: '{{ payee.name }}',
                },
                {% endfor %}
            ];

            var tableElement = document.getElementById('payeeTable');
            for (var i = 0; i < payees.length; i++) {
                var payee = payees[i];
                tableElement.appendChild(createRow(payee));
            }
        }

        window.addEventListener('load', function onload() {
            window.removeEventListener("load", onload, false);
            generateTable();
        });
    </script>
{% endblock %}

{% block body %}
    <h1>收支關係人</h1>
    <a href="{% url "finance_index" %}">財務主頁</a><br />
    <br />

    {% if perms.finance.can_add_payee %}
        <a href="{% url "finance_payee_add" %}">新增關係人</a>
    {% endif %}
    <table border="2" cellspacing="0" frame="box" rules="all" id="payeeTable">
    <tr>
        <th>關係人</th>
        {% if perms.finance.can_change_payee or perms.finance.can_delete_payee %}
        <th>操作</th>
        {% endif %}
    </tr>
    </table>
{% endblock %}
